.footer, .main-container, .main-container .reservation-bloc, .main-container .reservation-bloc .location-form, .main-container .filters-bloc, .main-container .favorate-menu, .main-container .favorate-menu .card-box, .main-container .favorate-menu .card-box .card .card-content .card-txt {
  display: flex;
  flex-direction: column;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul li {
  padding: 0;
  margin: 0;
  list-style: none;
}

a + .fa-solid {
  display: flex;
  justify-content: center;
  align-items: center;
}

.fa-solid {
  display: flex;
  align-items: center;
}

.like-heart {
  display: flex;
  align-items: center;
}

input {
  background: none;
  border: none;
  align-self: flex-end;
  font-size: 16px;
  font-weight: 700;
  color: #353535;
}

body {
  font-family: Roboto;
}

.first-title {
  font-family: Shrikhand, Helvetica, sans-serif;
  color: #101010;
  font-size: 30px;
  font-weight: 400;
}

.logo-font {
  font-family: Shrikhand, Helvetica, sans-serif;
}

.title-bloc {
  align-self: flex-start;
}

h2 {
  font-family: roboto, arial, sans-serif;
  font-size: 24px;
  font-weight: 700;
}

p {
  font-size: 15px;
  font-weight: 300;
}

a {
  text-decoration: none;
  color: black;
}

.fa-heart {
  font-size: 25px;
}

img {
  flex-shrink: 0;
  object-fit: cover;
  border-radius: 15px 15px 0 0;
}

.card-hover, .main-container .favorate-menu .card-box .card:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
}

@-webkit-keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes fade-in {
  0% {
    opacity: 1;
  }
  80% {
    opacity: 0.3;
  }
  99% {
    opacity: 0.1;
  }
  100% {
    opacity: 0;
    display: none;
    z-index: 0;
  }
}
@keyframes fade-in {
  0% {
    opacity: 1;
  }
  80% {
    opacity: 0.3;
  }
  99% {
    opacity: 0.1;
  }
  100% {
    opacity: 0;
    display: none;
    z-index: 0;
  }
}
@-webkit-keyframes card-aparition-traslate-v {
  0% {
    opacity: 0;
    transform: translateY(-50px);
  }
  50% {
    opacity: 0.2;
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes card-aparition-traslate-v {
  0% {
    opacity: 0;
    transform: translateY(-50px);
  }
  50% {
    opacity: 0.2;
  }
  100% {
    transform: translateY(0);
  }
}
@-webkit-keyframes card-aparition-traslate {
  0% {
    opacity: 0;
    animation-duration: 0.1s;
  }
  10% {
    opacity: 0;
    transform: translate(-1300px, -500px);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
@keyframes card-aparition-traslate {
  0% {
    opacity: 0;
    animation-duration: 0.1s;
  }
  10% {
    opacity: 0;
    transform: translate(-1300px, -500px);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
@-webkit-keyframes icon-plate-aparition {
  0% {
    opacity: 0;
    width: 0;
  }
  100% {
    opacity: 1;
    width: 61px;
  }
}
@keyframes icon-plate-aparition {
  0% {
    opacity: 0;
    width: 0;
  }
  100% {
    opacity: 1;
    width: 61px;
  }
}
.btn {
  display: flex;
  align-items: center;
  background: linear-gradient(193deg, #9356DC -11.44%, #FF79DA 123.93%);
  box-shadow: 1px 3px 3px 1px rgba(60, 60, 60, 0.25);
  height: 50px;
  font-size: 16px;
  font-weight: 600;
  border-radius: 25px;
  font-family: Roboto;
  border: none;
  color: white;
  align-self: center;
  cursor: pointer;
  transition-duration: 0.2s;
}
.btn:hover {
  filter: brightness(1.1);
  box-shadow: 1px 5px 3px 2px rgba(60, 60, 60, 0.25);
}

.like-heart .fa-heart {
  position: absolute;
  font-size: 22px;
  cursor: pointer;
  transition: 0.2s;
}
.like-heart .liked-heart {
  opacity: 0;
}
.like-heart:hover .liked-heart {
  opacity: 1;
  -webkit-background-clip: text;
  color: transparent;
  background-image: linear-gradient(to bottom, #9356DC, #FF79DA);
  background-clip: text;
}
.like-heart:hover .unliked-heart {
  opacity: 0;
}

.global-rectangle .tooltip-box {
  height: 100%;
  display: flex;
  gap: 15px;
}
.global-rectangle .tooltip-box .price {
  margin: auto;
  margin-right: -53px;
  font-weight: 700;
  font-size: 16px;
  transition: 0.8s;
}
.global-rectangle .tooltip-box .icone-save {
  opacity: 0;
  width: 61px;
  height: 100%;
}
.global-rectangle:hover .icone-save {
  animation-name: icon-plate-aparition;
  animation-duration: 0.8s;
  animation-fill-mode: forwards;
}
.global-rectangle:hover .price {
  margin-right: 0;
}
.global-rectangle:hover .name-plat {
  overflow: hidden;
  text-overflow: ellipsis;
}
.global-rectangle:hover .detail-plat {
  overflow: hidden;
  text-overflow: ellipsis;
}

.main-container {
  gap: 50px;
}
.main-container .reservation-bloc {
  gap: 20px;
  padding-bottom: 50px;
  align-items: center;
  text-align: center;
  background: #F6F6F6;
}
.main-container .reservation-bloc .location-form {
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 50px;
  background: #EAEAEA;
}
.main-container .reservation-bloc .location-form .form {
  display: flex;
  align-items: center;
  margin-left: 70px;
  gap: 17px;
  color: #353535;
}
.main-container .reservation-bloc .title-home {
  width: 70%;
}
.main-container .reservation-bloc .text-home {
  width: 80%;
  font-weight: 400;
  font-size: 18px;
}
.main-container .reservation-bloc .btn-reservation {
  padding: 0 30px;
}
.main-container .filters-bloc {
  padding: 0 18px 0 32px;
  gap: 50px;
  animation: card-aparition-traslate 2s;
}
.main-container .filters-bloc .filter {
  display: flex;
  flex-direction: column;
  gap: 50px;
}
.main-container .filters-bloc .filter:nth-child(1) {
  animation: card-aparition-traslate 2s;
  animation-delay: 0.1s;
}
.main-container .filters-bloc .filter:nth-child(2) {
  animation: card-aparition-traslate 2s;
  animation-delay: 0.2s;
}
.main-container .filters-bloc .filter:nth-child(3) {
  animation: card-aparition-traslate 2s;
  animation-delay: 0.3s;
}
.main-container .filters-bloc .filter .filter-box {
  counter-increment: number-box;
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-self: center;
  border-radius: 20px;
  background: #F6F6F6;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.1);
  padding: 20px;
  transition: 0.5s;
  cursor: pointer;
  animation: card-aparition 1s !important;
}
.main-container .filters-bloc .filter .filter-box .fa-color {
  color: #9356DC;
}
.main-container .filters-bloc .filter .filter-box .fa-store {
  color: #9356DC;
}
.main-container .filters-bloc .filter .filter-box:hover {
  background-color: white;
}
.main-container .filters-bloc .filter .filter-box:hover .fa-hover {
  color: #9356DC;
}
.main-container .filters-bloc .filter .title-bloc {
  margin-left: -10px;
}
.main-container .filters-bloc .filter .filter-box::before {
  content: counter(number-box);
  position: absolute;
  left: -15px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  background-color: #9356DC;
  color: white;
  font-size: 16px;
}
.main-container .favorate-menu {
  background-color: #F6F6F6;
  gap: 20px;
  padding: 18px;
}
.main-container .favorate-menu .card-box {
  gap: 18px;
  margin-bottom: 30px;
}
.main-container .favorate-menu .card-box .card {
  animation-name: card-aparition-traslate-v;
  animation-duration: 1s;
  animation-timing-function: linear;
  background-color: white;
  border-radius: 15px;
}
.main-container .favorate-menu .card-box .card:nth-child(1) {
  animation-delay: 2.4s;
}
.main-container .favorate-menu .card-box .card:nth-child(2) {
  animation-delay: 2.8s;
}
.main-container .favorate-menu .card-box .card:nth-child(3) {
  animation-delay: 3.2s;
}
.main-container .favorate-menu .card-box .card:nth-child(4) {
  animation-delay: 3.6s;
}
.main-container .favorate-menu .card-box .card:hover {
  transition: 1s;
}
.main-container .favorate-menu .card-box .card img {
  width: 100%;
  height: 231px;
}
.main-container .favorate-menu .card-box .card .card-content {
  position: relative;
  display: flex;
  justify-content: space-between;
  padding: 10px;
}
.main-container .favorate-menu .card-box .card .card-content .card-txt {
  gap: 5px;
}
.main-container .favorate-menu .card-box .card .card-content .like-heart .fa-heart {
  right: 15px;
}
.main-container .favorate-menu .card-box .new-card {
  position: relative;
}
.main-container .favorate-menu .card-box .new-card::after {
  content: "Nouveau";
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 5%;
  left: 76%;
  width: 80px;
  height: 29px;
  border-radius: 2px;
  background-color: #99E2D0;
  color: #008766;
  font-size: 14px;
  font-weight: 700;
}

@media (min-width: 820px) {
  .main-container .filters-bloc {
    gap: 20px;
    padding: 0 70px;
  }
  .main-container .filters-bloc .title-bloc {
    font-size: 20px;
  }
  .main-container .filters-bloc .filter {
    flex-direction: row;
    gap: 20px;
  }
  .main-container .filters-bloc .filter .filter-box {
    padding: 10px;
  }
  .main-container .filters-bloc .filter .filter-box h3 {
    font-size: 15px;
  }
  .main-container .favorate-menu {
    align-items: stretch;
    gap: 18px;
    padding: 30px 70px;
  }
  .main-container .favorate-menu .card-box {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 50px;
  }
  .main-container .favorate-menu .card-box .card {
    position: relative;
    gap: 30px;
    width: 45%;
  }
  .main-container .favorate-menu .card-box .card img {
    height: 120px;
  }
  .main-container .favorate-menu .card-box .new-card::after {
    left: 71%;
  }
}
@media (min-width: 1180px) {
  .main-container .filters-bloc {
    gap: 20px;
    padding: 0 120px;
  }
  .main-container .filters-bloc .title-bloc {
    font-size: 20px;
  }
  .main-container .filters-bloc .filter {
    flex-direction: row;
    gap: 20px;
  }
  .main-container .filters-bloc .filter .filter-box {
    padding: 20px;
    justify-content: space-evenly;
  }
  .main-container .filters-bloc .filter .filter-box h3 {
    font-size: 18px;
  }
  .main-container .favorate-menu {
    padding: 30px 120px;
  }
  .main-container .favorate-menu .card-box {
    gap: 50px;
  }
  .main-container .favorate-menu .card-box .card {
    gap: 30px;
    width: 45%;
  }
  .main-container .favorate-menu .card-box .card img {
    height: 175px;
  }
  .main-container .favorate-menu .card-box .new-card::after {
    left: 75%;
  }
}
@media (min-width: 1600px) {
  .main-container .filters-bloc {
    padding: 30px 180px;
  }
  .main-container .filters-bloc .filter .filter-box {
    padding: 20px;
    justify-content: space-around;
  }
  .main-container .favorate-menu {
    padding: 30px 180px;
  }
  .main-container .favorate-menu .card-box {
    gap: 50px;
  }
  .main-container .favorate-menu .card-box .card {
    gap: 30px;
    width: 45%;
  }
  .main-container .favorate-menu .card-box .card img {
    height: 250px;
  }
  .main-container .favorate-menu .card-box .new-card::after {
    margin-left: 50px;
  }
}
.fond {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: black;
  z-index: 50;
  animation: fade-in 2s forwards;
}
.fond .loader {
  border-radius: 50%;
  width: 200px;
  height: 200px;
  background: linear-gradient(#9356DC, #99E2D0, #FF79DA);
  animation: spin 1 2s linear;
  z-index: 50 !important;
}
.fond .loader span {
  position: absolute;
  border-radius: 50%;
  width: 200px;
  height: 200px;
  background: linear-gradient(#9356DC, #99E2D0, #FF79DA);
}
.fond .loader span:nth-child(1) {
  filter: blur(20px);
}
.fond .loader span:nth-child(2) {
  filter: blur(30px);
}
.fond .loader span:nth-child(3) {
  filter: blur(40px);
}
.fond .loader:after {
  content: "";
  position: absolute;
  top: 10px;
  left: 10px;
  right: 10px;
  bottom: 10px;
  background: #EAEAEA;
  border: solid white 10px;
  border-radius: 50%;
}

header {
  display: flex;
  height: 63px;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 14px 89px 13px 89px;
  z-index: 2;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.1);
}
header .logo {
  display: flex;
  align-items: center;
}

@media (min-width: 819px) {
  .logo .fa-arrow-left {
    right: 280px;
  }
}
@media (min-width: 1180px) {
  .logo .fa-arrow-left {
    right: 460px;
  }
}
@media (min-width: 1600px) {
  .logo .fa-arrow-left {
    right: 820px;
  }
}
.footer {
  height: auto;
  gap: 16px;
  padding: 22px 22px;
  background-color: #353535;
  align-items: flex-start;
  color: white;
}
.footer .logo-footer {
  font-size: 18px;
  font-weight: 400;
}
.footer .footer-list {
  width: 100%;
  line-height: 24px;
  font-size: 14px;
  font-weight: 500;
}
.footer .footer-list li {
  display: inline-flex;
  width: 90%;
  align-items: center;
}
.footer .footer-list .icon-footer {
  margin-right: 8px;
}
.footer .footer-list .contact-footer a {
  color: white;
}

@media (min-width: 820px) {
  .footer {
    flex-direction: row-reverse;
  }
  .footer .footer-list {
    display: flex;
    width: 100%;
    align-items: flex-end;
  }
  .footer .footer-list .contact-footer {
    position: relative;
    left: -62px;
  }
  .footer .footer-list .contact-footer a {
    color: white;
  }
}
@media (min-width: 1180px) {
  .footer .footer-list {
    width: 60%;
  }
  .footer .footer-list .contact-footer {
    left: -62px;
  }
}
