.footer, header, .card-box-menu .card-menu-command, .card-box-menu .card-menu-command .card-content-plat, .card-box-menu .card-menu-command .card-content-plat .card-plat, .card-box-menu .card-menu-command .card-content-plat .card-plat .card-txt, .card-box-menu .card-menu-command .card-content-plat .card-plat .card-txt .global-rectangle .rectangle, .main-container, .main-container .reservation-bloc, .main-container .reservation-bloc .location-form, .main-container .filters-bloc, .main-container .favorate-menu, .main-container .favorate-menu .card-box, .main-container .favorate-menu .card-box .card .card-content .card-txt, * body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: Roboto;
}
* body img {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -o-object-fit: cover;
     object-fit: cover;
}
* body .fa-solid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
* body ul li {
  list-style: none;
}
* body .btn {
  background: linear-gradient(193deg, #9356DC -11.44%, #FF79DA 123.93%);
  -webkit-box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
  height: 50px;
  font-size: 16px;
  font-weight: 600;
  border-radius: 25px;
  font-family: Roboto;
  border: none;
  color: white;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}
* body .first-title {
  font-family: Shrikhand, Helvetica, sans-serif;
  color: #101010;
  font-size: 30px;
  font-weight: 400;
}
* body .logo-font {
  font-family: Shrikhand, Helvetica, sans-serif;
}
* body .title-bloc {
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin-left: 20px;
}
* body h2 {
  font-family: roboto, arial, sans-serif;
  font-size: 24px;
  font-weight: 700;
}
* body p {
  font-size: 15px;
  font-weight: 300;
}
* body a {
  text-decoration: none;
  color: black;
}

@media (min-width: 950px) {
  body .main-container .filters-bloc {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0 180px;
  }
  body .main-container .filters-bloc .title-bloc {
    width: 100%;
    -ms-flex-item-align: end;
        align-self: flex-end;
  }
  body .main-container .filters-bloc .filter-box {
    width: 30%;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
  body .main-container .favorate-menu {
    gap: 18px;
    padding: 0 180px;
  }
  body .main-container .favorate-menu .card-box {
    -webkit-box-orient: horizontal !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: row !important;
            flex-direction: row !important;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.main-container {
  gap: 50px;
}
.main-container .reservation-bloc {
  gap: 20px;
  padding-bottom: 50px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  background: var(--Background, #F6F6F6);
}
.main-container .reservation-bloc .btn-reservation {
  padding: 0 30px;
}
.main-container .reservation-bloc .location-form {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 50px;
  background: var(--Grey-2, #EAEAEA);
}
.main-container .reservation-bloc .location-form .form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 70px;
  gap: 17px;
  color: var(--Grey, #353535);
}
.main-container .reservation-bloc .location-form input {
  background: none;
  border: none;
  -ms-flex-item-align: end;
      align-self: flex-end;
  font-size: 16px;
  font-weight: 700;
  color: #353535;
}
.main-container .reservation-bloc .title-home {
  width: 70%;
}
.main-container .reservation-bloc .text-home {
  width: 80%;
  font-weight: 400;
  font-size: 18px;
}
.main-container .filters-bloc {
  gap: 50px;
}
.main-container .filters-bloc .filter-box {
  counter-increment: number-box;
  position: relative;
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  border-radius: 20px;
  background: #F6F6F6;
  -webkit-box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
  padding: 20px;
}
.main-container .filters-bloc .filter-box .fa-color {
  color: #9356DC;
}
.main-container .filters-bloc .filter-box::before {
  content: counter(number-box);
  position: absolute;
  left: -15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  background-color: #9356DC;
  color: white;
  font-size: 16px;
}
.main-container .filters-bloc h2 {
  margin-left: 20px;
}
.main-container .favorate-menu {
  background-color: #F6F6F6;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
  padding-top: 50px;
}
.main-container .favorate-menu .card-box {
  gap: 18px;
  margin-bottom: 30px;
}
.main-container .favorate-menu .card-box .card {
  width: 346px;
  background-color: white;
  border-radius: 15px;
}
.main-container .favorate-menu .card-box .card img {
  width: 100%;
  border-radius: 15px 15px 0 0;
  height: 231px;
}
.main-container .favorate-menu .card-box .card .card-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 10px;
}
.main-container .favorate-menu .card-box .card .card-content .card-txt {
  gap: 5px;
}
.main-container .favorate-menu .card-box .card .fa-heart {
  font-size: 22px;
  cursor: pointer;
}

/* Small devices (phones, less than 320px)  exemple :iphone 4 */
@media (min-width: 950px) {
  .card-content-plat {
    width: 80%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .card-plat {
    width: 80%;
  }
  .card-plat .card-title {
    margin-left: 66px !important;
  }
  .card-plat .icone-save {
    display: block !important;
    width: 0;
    height: 69px;
    -webkit-transition-duration: 0.8s;
            transition-duration: 0.8s;
    -webkit-transition-property: width;
    transition-property: width;
  }
  .card-plat .rectangle:hover ~ .icone-save {
    margin-left: 20px;
    width: 59px;
  }
}
.card-box-menu img {
  width: 100%;
  height: 275px;
}
.card-box-menu .card-menu-command .card-content-plat {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  margin-top: -50px;
  z-index: 10;
  gap: 40px;
  background-color: #F6F6F6;
  border-radius: 50px 50px 0 0;
  padding-bottom: 40px;
  -webkit-box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
}
.card-box-menu .card-menu-command .card-content-plat .first-title, .card-box-menu .card-menu-command .card-content-plat .card-plat .card-title {
  padding-top: 20px;
  margin-left: 20px;
}
.card-box-menu .card-menu-command .card-content-plat .btn-command {
  padding: 0 50px;
}
.card-box-menu .card-menu-command .card-content-plat .card-plat {
  gap: 12px;
}
.card-box-menu .card-menu-command .card-content-plat .card-plat .card-title {
  width: 40px;
  text-transform: uppercase;
  border-bottom: 3px solid #99E2D0;
  padding-bottom: 10px;
}
.card-box-menu .card-menu-command .card-content-plat .card-plat .card-txt {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 15px;
}
.card-box-menu .card-menu-command .card-content-plat .card-plat .card-txt .global-rectangle {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: white;
  padding-left: 20px;
  width: 90%;
  height: 69px;
  border-radius: 15px;
}
.card-box-menu .card-menu-command .card-content-plat .card-plat .card-txt .global-rectangle .rectangle {
  position: relative;
  width: 95%;
  gap: 8px;
}
.card-box-menu .card-menu-command .card-content-plat .card-plat .card-txt .global-rectangle .rectangle .name-plat {
  font-size: 18px;
  font-weight: 700;
}
.card-box-menu .card-menu-command .card-content-plat .card-plat .card-txt .global-rectangle .rectangle .detail-plat {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.card-box-menu .card-menu-command .card-content-plat .card-plat .card-txt .global-rectangle .rectangle .detail-plat span {
  font-weight: 700;
}
.card-box-menu .card-menu-command .card-content-plat .card-plat .card-txt .global-rectangle .icone-save {
  display: none;
}

header {
  height: 63px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: -0.5px;
  text-align: center;
  padding: 14px 89px 13px 89px;
  -webkit-box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
}
header .logo {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer {
  gap: 16px;
  padding: 22px 22px;
  background-color: #353535;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  color: white;
}
.footer .logo-footer {
  font-size: 18px;
  font-weight: 400;
}
.footer .footer-list {
  width: 100%;
  line-height: 24px;
  font-size: 14px;
  font-weight: 500;
}
.footer .footer-list li {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 90%;
}
.footer .footer-list .icon-footer {
  margin-right: 8px;
}

/* Small devices (phones, less than 768px) */