@use '../../helpers/variables' ;// import variables 
@use '../../helpers/mixins' ;// import mixins 
@use '../../base/img' ;// import style image
.main-container{
    z-index: 10;
    @extend %main-flex;//make a vertical div 
    gap: variables.$exter-gap;
    .reservation-bloc{
        @extend %main-flex;// make a div in order column flex  
        gap: variables.$inter-gap;
        padding-bottom: 50px;
        align-items: center;
        text-align: center;
        background: variables.$main-bgr-color;
        .location-form{
            z-index: 10;
            @extend %main-flex;//make a vertical div 
            align-items: center;
            justify-content: center;
            width: 100%;
            height: 50px;
            background:variables.$main-bgr-color-2;
            .form{
                @include mixins.display-centering-v;
                margin-left: 70px;
                gap: 17px;
                color:  #353535;
            }
        }
        .title-home{
            width: 70%;
        }
        .text-home{
            width: 80%;
            font-weight: 400;
            font-size: 18px;
        }
        .btn-reservation{
            padding: 0 30px;
        }
    }
    .filters-bloc{
        z-index: 10;
        @extend %main-flex;// make a div in order column flex
        padding: 0 18px 0 32px;  
        gap: variables.$exter-gap;
        animation: card-aparition-traslate 3s ;
        .filter{
            @include mixins.display-col;
            gap: variables.$exter-gap;
            @include mixins.child-repeat-delay (3,0,0.1s){
                animation: card-aparition-traslate 2s ;
            }
            .filter-box{
                counter-increment: number-box;
                position: relative;
                width: 100%;
                display: flex;
                justify-content: space-around;
                align-self: center;
                border-radius: 20px;
                background:  variables.$main-bgr-color;
                box-shadow: variables.$main-box-shadow;
                padding: 20px;
                transition: 0.5s;
                cursor: pointer;
                animation: card-aparition 1s !important;
                .fa-color {
                    color: variables.$primary-color;
                }
                .fa-store{
                    color: variables.$primary-color;
                }
                &:hover{
                    background-color: white;
                }
                &:hover .fa-hover{
                    color: variables.$primary-color ;
                }
            }
            .title-bloc{
                margin-left: -10px;
            }
            .filter-box::before{
                content: counter(number-box);
                position: absolute;
                left:-15px;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 50%;
                width: 24px;
                height: 24px;
                background-color: variables.$primary-color;
                color: white;
                font-size: 16px;
            }
        }
        
    }
    .favorate-menu{
        z-index: 10;
        background-color:variables.$main-bgr-color;
        @extend %main-flex;// make a div in order column flex  
        gap: variables.$inter-gap;
        padding :18px;
        .card-box{
            @extend %main-flex;
            gap: 18px;
            margin-bottom: 30px;
            .card{
                @include mixins.child-repeat-delay(4,2s,0.4s);
                animation-name:card-aparition-traslate-v ;
                animation-duration: 1s;
                animation-timing-function: linear;
                background-color: white;
                border-radius: 15px;
                &:hover{
                    @extend .card-hover;
                    transition: 1s;
                }
                img{
                    width: 100%;
                    height: 231px;
                }
                .card-content{
                    z-index: 15;
                    position: relative;
                    display: flex;
                    justify-content: space-between;
                    padding: 10px;
                    .card-txt{
                        @extend %main-flex;// make a div in order column flex  
                        gap: 5px;
                    }
                    .like-heart{
                        .fa-heart{
                            right: 15px;
                        }
                    }
                }
            }
            .new-card{
                position: relative;
                &::after{
                    content: "Nouveau";
                    position: absolute;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    top: 5%;
                    left: 76%;
                    width: 80px;
                    height: 29px;
                    border-radius: 2px;       
                    background-color:variables.$terciary-color ;
                    color: #008766;
                    font-size: 14px;
                    font-weight: 700;
                }
            }
        }
    }
}

@media (min-width :820px) { // medium media
    .main-container{
        .filters-bloc{
            gap: variables.$inter-gap;
            padding: 0 70px;
            .title-bloc{
                font-size: 20px;
            }
            .filter{
                flex-direction: row ;
                gap: 20px;
                .filter-box{
                    padding: 10px;
                    h3{
                        font-size: 15px;
                    }
                }
            }
        }
        .favorate-menu{
            align-items: stretch;
            gap: 18px;
            padding: 30px 70px;
            .card-box{
                flex-direction: row ;
                flex-wrap: wrap;
                justify-content: space-between;
                gap: 50px;
                .card{
                    position: relative;
                    gap: 30px;
                    width: 45%;
                    img{
                        height: 120px;
                    }
                }
                .new-card::after{
                    left: 71% ;
                }
            } 
        }
    }
}

@media (min-width: 1180px) { // large medium media
    .main-container{
        .filters-bloc{
            gap: variables.$inter-gap;
            padding: 0 120px;
            .title-bloc{
                font-size: 20px;
            }
            .filter{
                flex-direction: row ;
                gap: 20px;
                .filter-box{
                    padding: 20px;
                    justify-content: space-evenly;
                    h3{
                        font-size: 18px;
                    }
                    
                }
            }
        }
        .favorate-menu{
            padding: 30px 120px;
            .card-box{
                gap: 50px;
                .card{
                    gap: 30px;
                    width: 45%;
                    img{
                        height: 175px;
                    }
                }
                .new-card::after{
                    left: 75% ;
                }
            } 
        }
    }
}
@media (min-width: 1600px) { // extra larg media
    .main-container{
        .filters-bloc{
            padding: 30px 180px;
            .filter{
                .filter-box{
                    padding: 20px;
                    justify-content: space-around
                }
            }
        }
        .favorate-menu{
            padding: 30px 180px;
            .card-box{
                gap: 50px;
                .card{
                    gap: 30px;
                    width: 45%;
                    img{
                        height: 250px;
                    }
                }
                .new-card::after{
                    margin-left: 50px;
                }
            } 
        }
    }
}