@use './variables/variables.scss'as *;// import variables 
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto;
    body{
        @extend %main-flex;// make a div in order column flex 
        img{
            flex-shrink: 0;
            object-fit: cover;
        }
        .fa-solid{
            display: flex;
            align-items: center;
        }
        ul li{
            list-style: none;
        }
        .btn{
            background: $Bg-color-btn ;
            box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
            height: 50px;
            font-size: 16px;
            font-weight: 600;
            border-radius: 25px;
            font-family: Roboto;
            border: none;
            color: white;
            align-self: center;
        }
        .first-title{
            font-family: $font-title;
            color:  #101010;
            font-size: 30px;
            font-weight: 400;
        }
       .logo-font{
            font-family: $font-title;
        }
        .title-bloc{
            align-self: flex-start;
            margin-left: 20px;
        }
        h2{
            font-family: $font-text;
            font-size: 24px;
            font-weight: 700;
        }
        p{
            font-size: 15px;
            font-weight: 300;
        }
        a{
            text-decoration: none;
            color: black;
        }
    }
}