@use '../helpers/variables' ;// import variables
@use '../helpers/mixins' ;// import variables 

@include mixins.keyF(spin){ // rotation border for loader 
    0%{
        transform: rotate(0deg) ;
    }
    100%{
        transform: rotate(360deg) ;
    }
}

@include mixins.keyF(fade-in){ // create a back body 
    0%{
        opacity: 1;
    }
    80%{
        opacity: 0.3;
    }
    99%{
        opacity: 0.1;
    }
    100%{
        opacity: 0;
        display: none;
        z-index: 0;
    }   
}

@include mixins.keyF(card-aparition-traslate-v){// animation card verticfal aparition 
    0%{
       opacity: 0;
       transform: translateY(-50px);
    }
    50%{
        opacity: 0.2; 
     }
    100%{ 
        transform: translateY(0);
     }
}

@include mixins.keyF(card-aparition-traslate){// animation card imamges aparition 
    0%{
       opacity: 0;
       animation-duration: 0.1s;
    }
    10%{
        opacity: 0;
        transform: translate(-1300px,-500px);
     }
    100%{
        opacity: 1;
        transform: translate(0);
     }
}

@include mixins.keyF(icon-plate-aparition){// animation green rectangle icon plat  
    0%{
        opacity: 0; 
        width: 0;
    }

    100%{
        opacity: 1;
        width: 61px;
     }
}