@use '../helpers/variables' ;// import variables
@use '../helpers/mixins' ;// import variables 

@include mixins.keyF(fade-in){ // create a back body
    
    50%{
        opacity: 0.8;
    }
    90%{
        opacity: 0.5;
    }
    99%{
        z-index: 20;
    }
    100%{
        opacity: 0;
        z-index: 1;
    }
}

@include mixins.keyF(card-aparition-traslate-v){// animation card verticfal aparition 
    0%{
       
       transform: translateY(-50px);
    }
    
    100%{ 
        transform: translateY(0);
     }
}

@include mixins.keyF(card-aparition-traslate){// animation card imamges aparition 
    0%{
       opacity: 0;
       animation-duration: 0.1s;
    }
    10%{
        opacity: 0;
        transform: translate(-1300px,-500px);
     }
    100%{
        opacity: 1;
        transform: translate(0);
     }
}

@include mixins.keyF(icon-plate-aparition){// animation green rectangle icon plat  
    0%{
        opacity: 0; 
        width: 0;
    }

    100%{
        opacity: 1;
        width: 61px;
     }
}
@include mixins.keyF(price-right){// animation green rectangle icon plat  
    0%{
        right: 20px;
     }
    
     100%{
        right: 75px;
     }
}