@use '../helpers/variables' ;// import variables 
@use '../helpers/mixins' ;// import mixins

.btn{ // style button in all pages 
    display: flex;
    align-items: center;
    background: variables.$Bg-color-btn ;
    box-shadow: 1px 3px 3px 1px rgba(60, 60, 60, 0.25);
    height: 50px;
    font-size: 16px;
    font-weight: 600;
    border-radius: 25px;
    font-family: Roboto;
    border: none;
    color: white;
    align-self: center;
    cursor: pointer;
    transition-duration: 0.2s;
    &:hover{
        filter: brightness(1.1);
        box-shadow: 1px 5px 3px 2px rgba(60, 60, 60, 0.25);
    }
}
