@use '../helpers/variables';// import variables 
@use '../helpers/mixins';// import  mixins 

// icon heart  in all page
.like-heart{ 
    .fa-heart {
        position: absolute;
        font-size: 22px;
        cursor: pointer;
        transition: 0.2s; 
    }
    .liked-heart{
        opacity: 0;
    }
    &:hover .liked-heart {
        opacity: 1;
        -webkit-background-clip: text;
        color: transparent;
        background-image: linear-gradient(to bottom, #9356DC,#FF79DA);
        background-clip: text;
    }
    &:hover .unliked-heart{
        opacity: 0;
    }
}
// animation icone texte plate in all pages 
.global-rectangle{ 
    transition-property: all;
  transition-duration: 4s;
  transition-delay: 2s;
    .tooltip-box{
        transition-property: all;
        position: relative;
        height: 100%;
        display: flex;
        align-items: center;
        gap: 15px;
        .price{
            transition-property: all;
            position: absolute;
            font-weight: 700;
            font-size: 16px;
        }
        .icone-save {
            opacity: 0;
            width: 61px;
            height: 100%;
        }
    }
    &:hover { 
        transition-property: all;
        .icone-save{ 
            animation-name: icon-plate-aparition;
            animation-duration: 0.8s;
            animation-fill-mode: forwards;
        }
        .price{
            animation-name: price-right;
            animation-duration: 0.8s;
            animation-fill-mode: forwards;
        }
        .name-plat{
            @include mixins.text-over-flow;// hide texte title plat in hover icon
        }
        .detail-plat  {
            @include mixins.text-over-flow; // hide texte plat in hover icon
        }
    }

}

