@use '../helpers/variables';// import variables 
@use '../helpers/mixins';// import variables 
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul li{
    @include mixins.ul-reset;
}
a + .fa-solid{
    display: flex;
    @include mixins.display-centering
}
.fa-solid{
    display: flex;
    align-items: center;
}
.like-heart{
    display: flex;
    align-items: center;
}
input{
    background: none;
    border: none;
    align-self: flex-end;
    font-size: 16px;
    font-weight: 700;
    color: #353535;
}

  

