@use '../../helpers/variables';// import variables
@use '../../helpers/mixins';// import mixins

.footer{
    height: auto;
    @extend %main-flex;
    gap: 16px;
    padding: 22px 22px;
    background-color:#353535;
    align-items: flex-start;
    color: white;
    .logo-footer{
        font-size: 18px;
        font-weight: 400;
    }
    .footer-list{
        z-index: 3000 ;
        width: 100%;
        line-height: 24px;
        font-size: 14px;
        font-weight: 500;
        li{
            display: inline-flex;
            width: 90%;
            align-items: center;
        }
        .icon-footer{
            margin-right: 8px;
        }
        .contact-footer a{
            z-index: 20;
            color: white ;
        }
    }
}

@media (min-width: 820px){ // medium media
    .footer{
        flex-direction: row-reverse;
        .footer-list{
            display: flex;
            width: 100%;
            align-items: flex-end;
            .contact-footer{
                position: relative;
                left: -62px;
                a{
                    color: white;
                }
            }
        }
    }
}

@media (min-width: 1180px){// larg  media
    .footer{
        .footer-list{
            width: 60%;
            .contact-footer{
                left: -62px;
            }
        }
    }
}
