
@mixin ul-reset{ // initialising li 
    padding: 0;
    margin: 0;
    list-style: none;
}
@mixin circle($dimention){ // make a circle border 
    border-radius: 50%;
    width: $dimention;
    height: $dimention;
}

@mixin overlay($color,$opacity){ // create a back plan for  loader 
 background-color: rgba($color, $opacity);
}

@mixin keyF($anim-name){ // import a web-kit vendors 
    @-webkit-keyframes #{$anim-name} {
        @content;
    }
    @keyframes #{$anim-name} {
        @content;
    }
}
@mixin  display-col{ // making a div as a column direction 
    display: flex;
    flex-direction: column;
}

@mixin display-centering-v { // vertical centering content in div parent 
    display: flex;
    align-items: center;
}

@mixin display-centering { // centering content in div parent
    justify-content: center;
    align-items: center;
}

@mixin text-over-flow { // hide and a norap the  text in div 
    overflow: hidden;
    text-overflow: ellipsis;
}

@mixin child-repeat-blur($div-lenght,$blur,$gap){// repeat  a content child with diffirent blur 
    @for $i from 1 through $div-lenght{
        $blur:$blur+$gap;
        &:nth-child(#{$i}) {
            @content;
            filter: blur($blur);
        }
    }
}

@mixin child-repeat-delay($div-lenght,$time-delay,$gap){ // repeat  a content child with diffirent delay 
    @for $i from 1 through $div-lenght{
        $time-delay:$time-delay+$gap;
        &:nth-child(#{$i}) {
            @content;
            animation-delay: $time-delay;
        }
    }
}



